.tetris-chats {
  width: 98%;
  position: absolute;
  right: 0;
  bottom: 1px;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 9;

  ul, li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  @media only screen and (min-width: 1480px) {
    width: 84%;
    right: 240px;
  }
}

.tetris-chat {
  width: 260px;
  height: 1px;
  margin-right: 15px;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
  font-size: 0.9rem;
  z-index: 999;

  input.text {
    color: #666;
    font-size: 0.9rem;
    border: 0;
    height: 40px;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    margin: 0 !important;
  }
}

.tetris-chat-grid {
  height: 320px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, .4);
}

.tetris-chat-title {
  padding: 4px 6px;
  height: 30px;
  background: #1779ba;
  color: white;
  font-weight: bold;
  position: relative;

  .text {
    display: block;
    width: 50%;
  }

  .button {
    padding: 4px 6px;
    border-radius: 3px;
    position: absolute;
    right: 26px;
    top: 3px;
  }

  .badge {
    position: absolute;
    right: 2px;
    top: 4px;

    &:hover {
      background: #1A8CD7;
    }
  }
}

.tetris-chat-body {
  height: 250px;
  overflow-y: scroll;
}


.tetris-chat-message {
  padding: 5px !important;

  div {
    background: #e6e6e6;
    display: inline-block;
    max-width: 90%;
    padding: 4px 10px;
    border-radius: 6px;
    overflow-wrap: break-word;
  }

  &._mine {
    text-align: right;

    div {
      text-align: left;
      background: #b4d8fa;
    }
  }
}

.tetris-chat-modal {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;

  h2 {
    position: absolute;
    right: 50px;
    top: 5px;
  }

  .select-level button {
    display: inline-block;
    width: 50%;
    margin: 5px 0;
  }

  input {
    margin: 0 !important;
  }

  table, tbody, td, tr {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background: transparent !important;
    line-height: 0 !important;
    border: none;
  }

  table {
    border: 1px solid #1A8CD7;
  }

  td span.cell {
    display: inline-block;
    width: 9px;
    height: 9px;

    &.set {
      background: #1A8CD7;
    }
  }
}
