$color: #999;
$borderColor: #dfdfdf;


.tetris-multi-player {
  margin-top: 75px;
  background: #f3f3f3;
  color: $color;
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
  z-index: 1;
  border: 1px solid $borderColor;
  position: relative;

  .menu {
    display: block;
  }
  .menu > li {
    display: inline-block;
  }

  .menu > li > a {
    color: $color;
    display: inline-block;
    position: relative;

    &:hover {
      background: #d3d3d3;
    }

    span {
      display: block;
      content: '';
      background: #00d800;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #009600;
      position: absolute;
      right: 4px;
      top: 14px;

      &.owner {
        background: #f200c1;
        border: 1px solid #bf0098;
      }
    }
  }

  .title {
    display: block;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 0.8rem;
    color: #777;
  }

  button {
    font-size: 0.8rem !important;
  }

  i {
    display: block;
    text-align: center;
  }

  @media only screen and (min-width: 1480px) {
    margin: 0;
    position: absolute;
    width: 240px;
    right: 0;
    top: 54px;
    bottom: 0;
    border: 0;
    border-left: 1px solid $borderColor;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    overflow-y: scroll;

    .menu > li, .menu > li > a {
      display: block;

      span {
        right: 8px;
      }
    }
  }
}


.tetris-multi-player-join {
  border-bottom: 1px solid $borderColor;
  margin-bottom: 15px;
  padding-bottom: 15px;

  input {
    height: auto;
    padding: 4px 8px;
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
}