
.tetris-statistics {
  position: absolute;
  left: 480px;
  top: 340px;
  width: 280px;
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #4e4265;
}


html body .tetris-statistics {
  table,
  tbody,
  tr,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  td {
    padding-bottom: 10px;
  }
}
