@import "base/variables";

// foundation
@import "base/foudation-settings";
@import "foundation";
@include foundation-everything;

// app-components
@import "components/asc2theme";
@import "components/chat";
@import "components/control";
@import "components/field";
@import "components/game";
@import "components/next-stone";
@import "components/multi-player";
@import "components/statistics";
@import "components/stone";
@import "components/welcome";


// common overrides
.top-bar {
  margin-bottom: 30px;
  background-color: $topbarBg;

  ul {
    background-color: $topbarBg;
  }

  li, li a {
    color: #cacaca;
  }

  li a.active {
    background: #41525e;
  }

  .menu-text {
    color: white;
  }
}

.switch-paddle .show-for-custom {
  position: absolute;
  left: 78px;
  top: 4px;
  color: #999;
  white-space: nowrap;
}

// common styles
.tetris-main {
  width: 860px;
  margin: 20px auto 0 auto;
}

// setup custom font

/* latin-ext (font-family: 'Press Start 2P', cursive;) */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(/fonts/AudiowideRegular-1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(/fonts/AudiowideRegular-2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* base */
.disabled:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
}

.pointer {
  cursor: pointer;
}
.help {
  cursor: help;
  color: #999;
  font-style: italic;
}
.block {
  display: block;
}
.full {
  width: 100%;
}

.transition {
  transition: all 0.2s ease-in 0s; /* explorer 10 */
  -webkit-transition: all 0.2s ease-in 0s; /* chrome & safari */
  -moz-transition: all 0.2s ease-in 0s; /* firefox */
  -o-transition: all 0.2s ease-in 0s; /* opera */
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}